.admin-plugin-autopost {
  margin-top: -30px;

  .form-horizontal .attribute {
    margin-bottom: 15px;

    > label {
      font-weight: bold;
    }

    > span.option-checkbox {
      display: inline-block;
      label {
        display: inline;
      }
    }
  }



  .hide-me {
    display:none;
  }
}
