<div class='admin-plugin-autopost'>
  <div class="admin-controls">
    <div class="span15">
      <ul class="nav nav-pills">
        {{nav-item route='adminPlugins.autopost.campaigns' label='autopost.campaigns.title'}}
      </ul>
    </div>
  </div>
  <div class="admin-container">
    {{outlet}}
  </div>
</div>
